@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
body {
  padding: 0px;
  margin: 0px;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}
.left-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.left-navbar li {
  list-style: none;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
}
.left-navbar li a.active {
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b;
  font-weight: bold;
}

.left-navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d1f22;
  font-family: "Raleway", sans-serif;
  padding-right: 8px;
  padding-left: 8px;
}
.middle-navbar {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.dropdown-curreny {
  position: relative;
  display: inline-block;
}
.dropdown-curreny-btn {
  background-color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-curreny-currences {
  right: 0;
  display: block;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-curreny-currences a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-curreny-currences a:hover {
  background-color: #f1f1f1;
}
.navbar-cart-btn {
  background-color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.navbar-cart {
  position: relative;
}
.cart-counter {
  position: absolute;
  right: 0;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #1d1f22;
  color: #fff;
  font-size: 14px;
  font-variant-numeric: tabular-nums;
}
