@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
body {
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;

}
.container {
  max-width: 1440px;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}
.left-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.left-navbar li {
  list-style: none;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
}
.left-navbar li a.active {
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b;
  font-weight: bold;
}

.left-navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d1f22;
  font-family: "Raleway", sans-serif;
  padding-right: 8px;
  padding-left: 8px;
}
.middle-navbar {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.dropdown-curreny {
  position: relative;
  display: inline-block;
}
.dropdown-curreny-btn {
  background-color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-curreny-currences {
  right: 0;
  display: block;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #f1f1f1;
}
.dropdown-curreny-currences a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-curreny-currences a:hover {
  background-color: #f1f1f1;
}
.navbar-cart-btn {
  background-color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.navbar-cart {
  position: relative;
}
.cart-counter {
  position: absolute;
  right: 0;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #1d1f22;
  color: #fff;
  font-size: 14px;
  font-variant-numeric: tabular-nums;
}
.product-overview-container{
  max-width: 386px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}
.product-overview-image-container{
  width: 100%;
  max-height: 350px;
  position: relative;
}
.add-to-cart-button{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  border: none;
  display: none;
  cursor: pointer;
}
.product-overview-container:hover .add-to-cart-button{
  display: block;
}
.product-overview-image{
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.product-overview-info{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.product-overview-price{
  font-weight: bold;
}
.category-products-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  justify-content: space-around;
  padding-bottom: 50px;
}
.text-reset{
  color: inherit;
  text-decoration: inherit;
}
.font-bold{
  font-weight:bold;
}
@media screen and (max-width: 768px) {
  .navbar{
    flex-direction: column;
  }
  .middle-navbar{
    order: -1;
  }
  .right-navbar{
    margin-left: 0;
    order: -1;
  }
}
.product-description{
  display: flex;
  gap: 30px;
  margin: 100px 2rem;
}
.product-description-images{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-description-images-image-container{
  width: 80px;
}
.product-description-images-image{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.product-description-image-container{
  max-width: 500px;
  max-height: 500px;
  flex-grow: 1;
}
.product-description-image{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;}
.product-description-info{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 300px;
}
.product-description-info h3{
  margin: 0px;
}
.product-description-info-size-container{
  display: flex;
  flex-direction: column;
}
.product-description-info-size{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.product-description-info-size span{
  border: 1px solid #1D1F22;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#292929;
  width: 63px;
  height: 45px;
  text-align: center;
  cursor: pointer;
}
.product-description-info-size span.disabled{
  border-color: #A6A6A6;
  color: #A6A6A6;
}
.product-description-info-size span.active{
  background-color: #1D1F22;
  color: #fff;
}
.product-description-info-price-container{
  display: flex;
  flex-direction: column;
}
.product-description-info-price{
  font-size: 24px;
  font-weight: bold;
}
.product-description-info .add-to-cart-big-button{
  width: 100%;
  text-align: center;
  background-color: #5ECE7B;
  color:#fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ;
}
.product-description-info .add-to-cart-big-button:hover{
  background-color: #357044;
}
.product-description-info-description{
  max-width: 100%;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .product-description{
    flex-direction: column;
  }
  .product-description-images{
    flex-direction: row;
  }
  .product-description-info{
    max-width: 100%;
  }
  .product-description-info-size{
    justify-content: start;
  }
}